.login-form {

  &__header {
    max-width: 240px;

    & img {
      width: 100%;
    }
  }

  &__inputs {
    margin: 20px 0 40px 0;
  }

  &__link {
    display: inline-block;
    margin-top: 20px;
    color: rgba(0, 0, 255, 1);
    font-size: 18px;
    text-decoration: none;
  }
}